@page "/map"
@using MudBlazor
<PageTitle>Map</PageTitle>

<div style="position:center; top:100%">
    <MudCheckBox Class="d-inline-flex pa-4" Dense="true" DisableRipple="true" @bind-Checked="@showMap" Label="Žemėlapis"></MudCheckBox>
    <MudCheckBox Class="d-inline-flex pa-4" Dense="true" DisableRipple="true" @bind-Checked="@showAreas" Label="Zonos"></MudCheckBox>
    <MudCheckBox Class="d-inline-flex pa-4" Dense="true" DisableRipple="true" @bind-Checked="@showAreaNumbers" Label="Numeracija"></MudCheckBox>
</div>

<div>
    <MudSlider @bind-Value="@zoomValue" Step="0.01" Min="0.0" Max="1.0" Size="Size.Small" />
</div>

<div style="max-width:100%; max-height:100%; overflow:scroll;">
    <ZooMapComponent ShowMap="@showMap" ShowAreas="@showAreas" ShowAreaNumbers="@showAreaNumbers" ZoomLevel="@zoomValue" MapPartId="MapResponse"></ZooMapComponent>
</div>

@code {
    bool showMap = true;
    bool showAreas = true;
    bool showAreaNumbers = true;
    double zoomValue = 0.0;

    // informacijos lango atidarymui
    void MapResponse(int nr)
    {
        Console.WriteLine("Hello from piece nr: " + nr);
    }
}
