@using ZooIS.Client.Services.ZooMapService;
@inject IZooMapService _zooMapService

<div class="container">
    <svg width="@mapWidth" height="@mapHeight" viewBox="-0.5 -0.5 2001 1810" style="background-color: rgb(255, 255, 255);">
        @if (ShowMap)
        {
            <image x="-1.5" y="-0.5" width="2000" height="1809" xlink:href="api/pictures" />
        }
        @if (ShowAreas)
        {

            <path @onclick="@(() => MapPartId.InvokeAsync(1))" fill="@_zooMapService.ZooMapFillColors[1]" stroke="@_zooMapService.ZooMapStrokeColors[1]" d="M 209.27 408 L 214.11 427.95 L 222.58 427.95 L 225 538.34 L 116.1 538.34 L 104 418.64 L 123.36 409.33 L 177.81 408 Z" stroke-miterlimit="10" pointer-events="all" />
            <path @onclick="@(() => MapPartId.InvokeAsync(2))" fill="@_zooMapService.ZooMapFillColors[2]" stroke="@_zooMapService.ZooMapStrokeColors[2]" d="M 528.38 412 L 528.38 477.28 L 575 480 L 565.01 526.24 L 551.69 567.04 L 548.36 583.36 L 551.69 599.68 L 551.69 684 L 461.78 684 L 455.12 673.12 L 418.49 673.12 L 411.83 684 L 365.21 681.28 L 335.24 673.12 L 311.93 662.24 L 291.95 645.92 L 268.64 624.16 L 275.3 610.56 L 261.98 580.64 L 248.66 577.92 L 242 548 L 242 450.08 L 331.91 450.08 L 361.88 439.2 L 381.86 422.88 L 395.18 420.16 L 421.82 420.16 L 421.82 412 Z" stroke-miterlimit="10" pointer-events="all" />
            <path @onclick="@(() => MapPartId.InvokeAsync(3))" fill="@_zooMapService.ZooMapFillColors[3]" stroke="@_zooMapService.ZooMapStrokeColors[3]" d="M 222.75 607.28 L 233.85 611.84 L 254.2 643.76 L 280.1 671.12 L 324.5 698.48 L 339.3 703.04 L 343 712.16 L 339.3 721.28 L 326.35 732.68 L 311.55 750.92 L 296.75 753.2 L 281.95 780.56 L 289.35 794.24 L 276.4 812.48 L 259.75 823.88 L 237.55 830.72 L 211.65 828.44 L 191.3 817.04 L 174.65 796.52 L 167.25 773.72 L 165.4 760.04 L 165.4 746.36 L 158 746.36 L 170.95 666.56 L 176.5 666.56 L 183.9 646.04 L 196.85 625.52 L 207.95 611.84 Z" stroke-miterlimit="10" pointer-events="all" />
            <path @onclick="@(() => MapPartId.InvokeAsync(4))" fill="@_zooMapService.ZooMapFillColors[4]" stroke="@_zooMapService.ZooMapStrokeColors[4]" d="M 537.72 232.39 L 524.84 279.65 L 567.16 292.16 L 552.44 349.15 L 532.2 339.42 L 504.6 333.86 L 473.32 340.81 L 453.08 351.93 L 443.88 360.27 L 436.52 368.61 L 386.84 368.61 L 385 264.36 Z" stroke-miterlimit="10" pointer-events="all" />
            <path @onclick="@(() => MapPartId.InvokeAsync(5))" fill="@_zooMapService.ZooMapFillColors[5]" stroke="@_zooMapService.ZooMapStrokeColors[5]" d="M 640.79 283.87 L 695.18 296.96 L 702.53 306.31 L 704 323.14 L 690.77 469 L 599.63 469 L 598.16 439.08 L 589.34 399.81 L 581.99 377.37 L 568.76 360.54 L 558.47 351.19 L 573.17 293.22 L 633.44 308.18 Z" stroke-miterlimit="10" pointer-events="all" />
            <path @onclick="@(() => MapPartId.InvokeAsync(6))" fill="@_zooMapService.ZooMapFillColors[6]" stroke="@_zooMapService.ZooMapStrokeColors[6]" h d="M 820.52 462 L 817.6 493.79 L 840.96 493.79 L 846.8 523.71 L 861.4 544.28 L 876 555.5 L 849.72 592.9 L 840.96 585.42 L 794.24 647.13 L 779.64 635.91 L 744.6 619.08 L 732.92 604.12 L 697.88 602.25 L 686.2 619.08 L 662.84 622.82 L 633.64 615.34 L 607.36 600.38 L 589.84 577.94 L 584 551.76 L 598.6 544.28 L 604.44 510.62 L 595.68 501.27 L 598.6 482.57 L 703.72 482.57 L 715.4 493.79 L 732.92 497.53 L 759.2 495.66 L 776.72 486.31 L 794.24 471.35 L 800.08 462 Z" stroke-miterlimit="10" pointer-events="all" />
            <ellipse @onclick="@(() => MapPartId.InvokeAsync(7))" fill="@_zooMapService.ZooMapFillColors[7]" stroke="@_zooMapService.ZooMapStrokeColors[7]" cx="730" cy="678" rx="50" ry="37" pointer-events="all" />
            <path @onclick="@(() => MapPartId.InvokeAsync(8))" fill="@_zooMapService.ZooMapFillColors[8]" stroke="@_zooMapService.ZooMapStrokeColors[8]" d="M 893.16 610.8 L 915.6 613.2 L 936 621 L 929.88 658.2 L 924.78 667.8 L 906.42 667.2 L 834 661.2 L 837.06 646.2 L 845.22 631.8 L 855.42 622.2 L 868.68 615 L 883.98 610.8 Z" stroke-miterlimit="10" pointer-events="all" />
            <path @onclick="@(() => MapPartId.InvokeAsync(9))" fill="@_zooMapService.ZooMapFillColors[9]" stroke="@_zooMapService.ZooMapStrokeColors[9]" d="M 906.37 666.88 L 898.22 704.72 L 903.11 708.16 L 893.33 735.68 L 878.66 761.48 L 859.1 785.56 L 829.76 811.36 L 806.94 830.28 L 800.42 823.4 L 797.16 826.84 L 782.49 809.64 L 789.01 802.76 L 771.08 778.68 L 749.89 795.88 L 746.63 776.96 L 771.08 756.32 L 795.53 735.68 L 811.83 716.76 L 821.61 701.28 L 828.13 684.08 L 831.39 661.72" stroke-miterlimit="10" pointer-events="all" />
            <rect @onclick="@(() => MapPartId.InvokeAsync(10))" fill="@_zooMapService.ZooMapFillColors[10]" stroke="@_zooMapService.ZooMapStrokeColors[10]" x="552" y="600" width="28" height="88" pointer-events="all" />
            <path @onclick="@(() => MapPartId.InvokeAsync(11))" fill="@_zooMapService.ZooMapFillColors[11]" stroke="@_zooMapService.ZooMapStrokeColors[11]" d="M 598.5 706 L 663.5 708.9 L 663.5 713.25 L 683.5 724.85 L 686 721.95 L 701 733.55 L 718.5 756.75 L 723.5 769.8 L 716 771.25 L 691 778.5 L 673.5 797.35 L 668.5 826.35 L 658.5 842.3 L 646 851 L 623.5 851 L 623.5 823.45 L 506 823.45 L 506 816.2 L 476 816.2 L 501 729.2 L 503.5 717.6 L 511 710.35 L 596 711.8 Z" stroke-miterlimit="10" pointer-events="all" />
            <path @onclick="@(() => MapPartId.InvokeAsync(12))" fill="@_zooMapService.ZooMapFillColors[12]" stroke="@_zooMapService.ZooMapStrokeColors[12]" d="M 447.8 817.02 L 393.4 817.02 L 393.4 887.31 L 322 915 L 311.8 895.83 L 322 887.31 L 316.9 851.1 L 306.7 844.71 L 308.4 819.15 L 323.7 778.68 L 362.8 733.95 L 373 740.34 L 405.3 725.43 L 407 710.52 L 424 706.26 L 434.2 714.78 L 447.8 712.65 L 456.3 706.26 L 471.6 706.26 L 475 712.65 Z" stroke-miterlimit="10" pointer-events="all" />
            <path @onclick="@(() => MapPartId.InvokeAsync(13))" fill="@_zooMapService.ZooMapFillColors[13]" stroke="@_zooMapService.ZooMapStrokeColors[13]" d="M 625.25 892.2 L 625.25 864.4 L 637.34 864.4 L 661.52 853.28 L 677.64 833.82 L 681.67 806.02 L 689.73 792.12 L 705.85 783.78 L 726 781 L 726 808.8 L 717.94 833.82 L 701.82 856.06 L 685.7 869.96 L 661.52 881.08 L 625.25 903.32 L 560.77 972.82 L 431.81 1056.22 L 419.72 1059 L 399.57 1059 L 375.39 1045.1 L 367.33 1031.2 L 359.27 1011.74 L 367.33 997.84 L 355.24 956.14 L 339.12 950.58 L 323 920 L 395.54 892.2 Z" stroke-miterlimit="10" pointer-events="all" />
            <path @onclick="@(() => MapPartId.InvokeAsync(14))" fill="@_zooMapService.ZooMapFillColors[14]" stroke="@_zooMapService.ZooMapStrokeColors[14]" d="M 325.44 967 L 342 1045.02 L 256.44 1060.06 L 251.84 1041.26 L 261.04 1039.38 L 250 983.92 Z" stroke-miterlimit="10" pointer-events="all" />
            <path @onclick="@(() => MapPartId.InvokeAsync(15))" fill="@_zooMapService.ZooMapFillColors[15]" stroke="@_zooMapService.ZooMapStrokeColors[15]" d="M 272.62 1209.8 L 291.34 1236.84 L 293.68 1250.36 L 342.82 1240.22 L 347.5 1257.12 L 352.18 1257.12 L 375.58 1348.38 L 382.6 1348.38 L 391.96 1388.94 L 387.28 1392.32 L 406 1476.82 L 298.36 1510.62 L 284.32 1510.62 L 274.96 1507.24 L 195.4 1419.36 L 190.72 1402.46 L 172 1206.42 L 183.7 1203.04 L 195.4 1192.9 L 195.4 1179.38 L 209.44 1176 L 221.14 1186.14 L 232.84 1192.9 L 237.52 1203.04 L 237.52 1213.18 L 246.88 1219.94 L 258.58 1219.94 Z" stroke-miterlimit="10" pointer-events="all" />
            <path @onclick="@(() => MapPartId.InvokeAsync(16))" fill="@_zooMapService.ZooMapFillColors[16]" stroke="@_zooMapService.ZooMapStrokeColors[16]" d="M 328 1233.36 L 305.5 1221.3 L 290.5 1235.37 L 253 1179.09 L 265.5 1161 L 298 1167.03 L 315.5 1171.05 L 333 1173.06 L 380.5 1183.11 L 435.5 1211.25 L 503 1225.32 L 503 1355.97 L 393 1353.96 L 368 1253.46 L 348 1229.34 Z" stroke-miterlimit="10" pointer-events="all" />
            <path @onclick="@(() => MapPartId.InvokeAsync(17))" fill="@_zooMapService.ZooMapFillColors[17]" stroke="@_zooMapService.ZooMapStrokeColors[17]" d="M 237.2 1080.31 L 246.8 1077.33 L 262.8 1077.33 L 358.8 1057.96 L 384.4 1074.35 L 413.2 1077.33 L 445.2 1068.39 L 470.8 1052 L 554 1184.61 L 522 1199.51 L 490 1199.51 L 442 1186.1 L 397.2 1163.75 L 384.4 1153.32 L 352.4 1145.87 L 336.4 1150.34 L 301.2 1141.4 L 266 1122.03 L 237.2 1099.68 L 234 1089.25 Z" stroke-miterlimit="10" pointer-events="all" />
            <path @onclick="@(() => MapPartId.InvokeAsync(18))" fill="@_zooMapService.ZooMapFillColors[18]" stroke="@_zooMapService.ZooMapStrokeColors[18]" d="M 593.72 1296.25 L 612.2 1291.11 L 638.38 1283.4 L 655.32 1267.98 L 666.1 1249.99 L 667.64 1237.14 L 695.36 1232 L 720 1244.85 L 678.42 1327.09 L 650.7 1345.08 L 658.4 1483.86 L 598.34 1486.43 L 575.24 1473.58 L 569.08 1332.23 L 576.78 1314.24 Z" stroke-miterlimit="10" pointer-events="all" />
            <path @onclick="@(() => MapPartId.InvokeAsync(19))" fill="@_zooMapService.ZooMapFillColors[19]" stroke="@_zooMapService.ZooMapStrokeColors[19]" d="M 632.46 1122 L 732 1193.44 L 725.68 1200.96 L 713.04 1210.36 L 690.92 1215.06 L 668.8 1210.36 L 646.68 1199.08 L 626.14 1195.32 L 607.18 1197.2 L 589.8 1203.78 L 580.32 1203.78 L 574 1197.2 L 574 1189.68 L 586.64 1172.76 L 599.28 1157.72 L 613.5 1146.44 L 624.56 1135.16 Z" stroke-miterlimit="10" pointer-events="all" />
            <path @onclick="@(() => MapPartId.InvokeAsync(20))" fill="@_zooMapService.ZooMapFillColors[20]" stroke="@_zooMapService.ZooMapStrokeColors[20]" d="M 607.76 1086.5 L 602.08 1099.87 L 602.08 1113.24 L 590.72 1124.7 L 579.36 1132.34 L 573.68 1145.71 L 566.58 1162.9 L 558.06 1180.09 L 497 1075.04 L 515.46 1061.67 L 506.94 1046.39 L 521.14 1036.84 L 514.04 1021.56 L 541.02 1004.37 L 543.86 1008.19 L 566.58 991 L 636.16 1073.13 L 617.7 1078.86 Z" stroke-miterlimit="10" pointer-events="all" />
            <path @onclick="@(() => MapPartId.InvokeAsync(21))" fill="@_zooMapService.ZooMapFillColors[21]" stroke="@_zooMapService.ZooMapStrokeColors[21]" d="M 610.8 940.52 L 614.68 942.59 L 641.84 913.61 L 670.94 899.12 L 692.28 892.91 L 723.32 866 L 738.84 866 L 766 957.08 L 758.24 971.57 L 752.42 990.2 L 723.32 1004.69 L 696.16 1029.53 L 682.58 1048.16 L 663.18 1050.23 L 647.66 1060.58 L 641.84 1073 L 572 988.13 L 591.4 969.5 L 589.46 965.36 Z" stroke-miterlimit="10" pointer-events="all" />
            <path @onclick="@(() => MapPartId.InvokeAsync(22))" fill="@_zooMapService.ZooMapFillColors[22]" stroke="@_zooMapService.ZooMapStrokeColors[22]" d="M 935.8 997.92 L 948.6 1003.86 L 955 1019.7 L 948.6 1035.54 L 951.8 1039.5 L 871.8 1106.82 L 868.6 1104.84 L 855.8 1112.76 L 839.8 1116.72 L 823.8 1114.74 L 807.8 1114.74 L 788.6 1118.7 L 769.4 1128.6 L 753.4 1144.44 L 743.8 1162.26 L 734.2 1188 L 635 1116.72 L 641.4 1108.8 L 647.8 1106.82 L 670.2 1087.02 L 679.8 1085.04 L 689.4 1089 L 699 1089 L 705.4 1085.04 L 711.8 1077.12 L 715 1069.2 L 715 1057.32 L 721.4 1049.4 L 747 1025.64 L 772.6 1015.74 L 801.4 999.9 L 811 990 Z" stroke-miterlimit="10" pointer-events="all" />
            <path @onclick="@(() => MapPartId.InvokeAsync(23))" fill="@_zooMapService.ZooMapFillColors[23]" stroke="@_zooMapService.ZooMapStrokeColors[23]" d="M 894.9 783 L 937.53 813.21 L 872.85 886.35 L 875.79 889.53 L 855.21 918.15 L 852.27 916.56 L 837.57 934.05 L 828.75 938.82 L 814.05 942 L 792 860.91 L 827.28 846.6 L 866.97 816.39 Z" stroke-miterlimit="10" pointer-events="all" />
            <path @onclick="@(() => MapPartId.InvokeAsync(24))" fill="@_zooMapService.ZooMapFillColors[24]" stroke="@_zooMapService.ZooMapStrokeColors[24]" d="M 909.08 878 L 996.29 941.6 L 972.35 952.2 L 960.38 965.98 L 951.83 981.88 L 830.42 975.52 L 828.71 971.28 L 849.23 949.02 L 866.33 927.82 L 862.91 925.7 L 885.14 894.96 L 888.56 897.08 Z" stroke-miterlimit="10" pointer-events="all" />
            <path @onclick="@(() => MapPartId.InvokeAsync(25))" fill="@_zooMapService.ZooMapFillColors[25]" stroke="@_zooMapService.ZooMapStrokeColors[25]" d="M 979.72 798 L 1022.81 839.18 L 1011.69 853.38 L 1017.25 859.06 L 1026.98 849.12 L 1049.22 869 L 1052 883.2 L 1049.22 894.56 L 1032.54 918.7 L 1015.86 931.48 L 1004.74 940 L 913 874.68 L 932.46 856.22 L 957.48 880.36 L 968.6 869 L 939.41 842.02 Z" stroke-miterlimit="10" pointer-events="all" />
            <path @onclick="@(() => MapPartId.InvokeAsync(26))" fill="@_zooMapService.ZooMapFillColors[26]" stroke="@_zooMapService.ZooMapStrokeColors[26]" d="M 1054.5 561.82 L 1115 578.2 L 1110.16 596.92 L 1105.32 599.26 L 1088.38 622.66 L 1052.08 660.1 L 1030.3 692.86 L 1013.36 720.94 L 998.84 742 L 928.66 716.26 L 950.44 627.34 L 945.6 617.98 L 935.92 585.22 L 916.56 554.8 L 887.52 529.06 L 877.84 519.7 L 873 512.68 L 875.42 508 Z" stroke-miterlimit="10" pointer-events="all" />
            <path @onclick="@(() => MapPartId.InvokeAsync(27))" fill="@_zooMapService.ZooMapFillColors[27]" stroke="@_zooMapService.ZooMapStrokeColors[27]" d="M 1131 467.8 L 1117.8 559 L 1120.44 560.9 L 1115.16 578 L 1054.44 562.8 L 1057.08 557.1 L 872.28 500.1 L 867 475.4 L 872.28 458.3 L 922.44 443.1 L 930.36 452.6 L 943.56 460.2 L 956.76 460.2 L 975.24 450.7 L 980.52 429.8 L 969.96 408.9 L 972.6 397.5 L 977.88 389.9 L 985.8 388 Z" stroke-miterlimit="10" pointer-events="all" />
            <path @onclick="@(() => MapPartId.InvokeAsync(28))" fill="@_zooMapService.ZooMapFillColors[28]" stroke="@_zooMapService.ZooMapStrokeColors[28]" d="M 1167.74 263.64 L 1180.1 243.94 L 1194.52 251.82 L 1188.34 261.67 L 1211 275.46 L 1171.86 354.26 L 1153.32 401.54 L 1143.02 437 L 1005 360.17 L 1015.3 344.41 L 1021.48 322.74 L 1029.72 279.4 Z" stroke-miterlimit="10" pointer-events="all" />
            <path @onclick="@(() => MapPartId.InvokeAsync(29))" fill="@_zooMapService.ZooMapFillColors[29]" stroke="@_zooMapService.ZooMapStrokeColors[29]" d="M 1165.92 151.88 L 1125.6 215.84 L 1142.88 228.32 L 1147.2 222.08 L 1176 240.8 L 1164.48 259.52 L 1032 270.44 L 1047.84 223.64 L 1062.24 195.56 L 1080.96 161.24 L 1095.36 136.28 L 1109.76 116 Z" stroke-miterlimit="10" pointer-events="all" />
            <path @onclick="@(() => MapPartId.InvokeAsync(30))" fill="@_zooMapService.ZooMapFillColors[30]" stroke="@_zooMapService.ZooMapStrokeColors[30]" d="M 1170.08 154 L 1221.12 186.85 L 1198.24 226.27 L 1158.64 200.72 L 1147.2 221.89 L 1134 213.86 L 1146.32 194.88 Z" stroke-miterlimit="10" pointer-events="all" />
            <path @onclick="@(() => MapPartId.InvokeAsync(31))" fill="@_zooMapService.ZooMapFillColors[31]" stroke="@_zooMapService.ZooMapStrokeColors[31]" d="M 1241 107.97 L 1256 117.33 L 1218.5 175.83 L 1115 111.48 L 1134.5 88.08 L 1176.5 65.85 L 1215.5 62.34 L 1245.5 63.51 L 1263.5 72.87 Z" stroke-miterlimit="10" pointer-events="all" />
            <path @onclick="@(() => MapPartId.InvokeAsync(32))" fill="@_zooMapService.ZooMapFillColors[32]" stroke="@_zooMapService.ZooMapStrokeColors[32]" d="M 1260.26 121 L 1271.6 128.56 L 1294.28 96.16 L 1304 117.76 L 1299.95 145.84 L 1287.8 167.44 L 1274.03 181.48 L 1258.64 200.92 L 1223 181.48 Z" stroke-miterlimit="10" pointer-events="all" />
            <path @onclick="@(() => MapPartId.InvokeAsync(33))" fill="@_zooMapService.ZooMapFillColors[33]" stroke="@_zooMapService.ZooMapStrokeColors[33]" d="M 1143.78 658 L 1213.71 671.51 L 1288.82 727.48 L 1291.41 735.2 L 1291.41 742.92 L 1249.97 775.73 L 1169.68 816.26 L 1099.75 851 L 1040.18 825.91 L 1040.18 814.33 L 1035 808.54 L 1035 781.52 L 1047.95 733.27 L 1068.67 692.74 L 1094.57 671.51 L 1115.29 663.79 L 1138.6 658 Z" stroke-miterlimit="10" pointer-events="all" />
            <path @onclick="@(() => MapPartId.InvokeAsync(34))" fill="@_zooMapService.ZooMapFillColors[34]" stroke="@_zooMapService.ZooMapStrokeColors[34]" d="M 1510.16 649.17 L 1546.4 629.48 L 1655.12 613.37 L 1661.16 636.64 L 1794.04 652.75 L 1920.88 634.85 L 1939 665.28 L 1939 692.13 L 1914.84 717.19 L 1763.84 736.88 L 1685.32 751.2 L 1582.64 774.47 L 1461.84 772.68 L 1407.48 765.52 L 1377.28 783.42 L 1335 776.26 L 1341.04 710.03 L 1359.16 665.28 L 1425.6 656.33 L 1473.92 643.8 Z" stroke-miterlimit="10" pointer-events="all" />
        }
        @if (ShowAreaNumbers)
        {
            <g fill="rgb(0, 0, 0)" font-family="Helvetica" font-weight="bold" text-anchor="middle" font-size="20px">
                <text disabled x="164" y="483">1</text>
            </g>
            <g fill="rgb(0, 0, 0)" font-family="Helvetica" font-weight="bold" text-anchor="middle" font-size="20px">
                <text x="408" y="556.5">2</text>
            </g>
            <g fill="rgb(0, 0, 0)" font-family="Helvetica" font-weight="bold" text-anchor="middle" font-size="20px">
                <text x="250" y="727.5">3</text>
            </g>
            <g fill="rgb(0, 0, 0)" font-family="Helvetica" font-weight="bold" text-anchor="middle" font-size="20px">
                <text x="477" y="306">4</text>
            </g>
            <g fill="rgb(0, 0, 0)" font-family="Helvetica" font-weight="bold" text-anchor="middle" font-size="20px">
                <text x="630" y="384">5</text>
            </g>
            <g fill="rgb(0, 0, 0)" font-family="Helvetica" font-weight="bold" text-anchor="middle" font-size="20px">
                <text x="729.5" y="564">6</text>
            </g>
            <g fill="rgb(0, 0, 0)" font-family="Helvetica" font-weight="bold" text-anchor="middle" font-size="20px">
                <text x="729.5" y="686.5">7</text>
            </g>
            <g fill="rgb(0, 0, 0)" font-family="Helvetica" font-weight="bold" text-anchor="middle" font-size="20px">
                <text x="884.5" y="647.5">8</text>
            </g>
            <g fill="rgb(0, 0, 0)" font-family="Helvetica" font-weight="bold" text-anchor="middle" font-size="20px">
                <text x="826" y="754.5">9</text>
            </g>
            <g fill="rgb(0, 0, 0)" font-family="Helvetica" font-weight="bold" text-anchor="middle" font-size="20px">
                <text x="565.5" y="652.5">10</text>
            </g>
            <g fill="rgb(0, 0, 0)" font-family="Helvetica" font-weight="bold" text-anchor="middle" font-size="20px">
                <text x="600.5" y="787">11</text>
            </g>
            <g fill="rgb(0, 0, 0)" font-family="Helvetica" font-weight="bold" text-anchor="middle" font-size="20px">
                <text x="389.5" y="817">12</text>
            </g>
            <g fill="rgb(0, 0, 0)" font-family="Helvetica" font-weight="bold" text-anchor="middle" font-size="20px">
                <text x="524" y="928.5">13</text>
            </g>
            <g fill="rgb(0, 0, 0)" font-family="Helvetica" font-weight="bold" text-anchor="middle" font-size="20px">
                <text x="295.5" y="1022.5">14</text>
            </g>
            <g fill="rgb(0, 0, 0)" font-family="Helvetica" font-weight="bold" text-anchor="middle" font-size="20px">
                <text x="288.5" y="1353.5">15</text>
            </g>
            <g fill="rgb(0, 0, 0)" font-family="Helvetica" font-weight="bold" text-anchor="middle" font-size="20px">
                <text x="377.5" y="1270">16</text>
            </g>
            <g fill="rgb(0, 0, 0)" font-family="Helvetica" font-weight="bold" text-anchor="middle" font-size="20px">
                <text x="393.5" y="1135">17</text>
            </g>
            <g fill="rgb(0, 0, 0)" font-family="Helvetica" font-weight="bold" text-anchor="middle" font-size="20px">
                <text x="642.5" y="1369">18</text>
            </g>
            <g fill="rgb(0, 0, 0)" font-family="Helvetica" font-weight="bold" text-anchor="middle" font-size="20px">
                <text x="652.5" y="1177.5">19</text>
            </g>
            <g fill="rgb(0, 0, 0)" font-family="Helvetica" font-weight="bold" text-anchor="middle" font-size="20px">
                <text x="567.5" y="1095">20</text>
            </g>
            <g fill="rgb(0, 0, 0)" font-family="Helvetica" font-weight="bold" text-anchor="middle" font-size="20px">
                <text x="668.5" y="978">21</text>
            </g>
            <g fill="rgb(0, 0, 0)" font-family="Helvetica" font-weight="bold" text-anchor="middle" font-size="20px">
                <text x="794.5" y="1097.5">22</text>
            </g>
            <g fill="rgb(0, 0, 0)" font-family="Helvetica" font-weight="bold" text-anchor="middle" font-size="20px">
                <text x="865" y="871">23</text>
            </g>
            <g fill="rgb(0, 0, 0)" font-family="Helvetica" font-weight="bold" text-anchor="middle" font-size="20px">
                <text x="912" y="939.5">24</text>
            </g>
            <g fill="rgb(0, 0, 0)" font-family="Helvetica" font-weight="bold" text-anchor="middle" font-size="20px">
                <text x="982" y="877.5">25</text>
            </g>
            <g fill="rgb(0, 0, 0)" font-family="Helvetica" font-weight="bold" text-anchor="middle" font-size="20px">
                <text x="993.5" y="633.5">26</text>
            </g>
            <g fill="rgb(0, 0, 0)" font-family="Helvetica" font-weight="bold" text-anchor="middle" font-size="20px">
                <text x="998.5" y="491.5">27</text>
            </g>
            <g fill="rgb(0, 0, 0)" font-family="Helvetica" font-weight="bold" text-anchor="middle" font-size="20px">
                <text x="1107.5" y="347">28</text>
            </g>
            <g fill="rgb(0, 0, 0)" font-family="Helvetica" font-weight="bold" text-anchor="middle" font-size="20px">
                <text x="1103.5" y="202.5">29</text>
            </g>
            <g fill="rgb(0, 0, 0)" font-family="Helvetica" font-weight="bold" text-anchor="middle" font-size="20px">
                <text x="1177.5" y="199">30</text>
            </g>
            <g fill="rgb(0, 0, 0)" font-family="Helvetica" font-weight="bold" text-anchor="middle" font-size="20px">
                <text x="1189.5" y="127">31</text>
            </g>
            <g fill="rgb(0, 0, 0)" font-family="Helvetica" font-weight="bold" text-anchor="middle" font-size="20px">
                <text x="1263" y="156.5">32</text>
            </g>
            <g fill="rgb(0, 0, 0)" font-family="Helvetica" font-weight="bold" text-anchor="middle" font-size="20px">
                <text x="1164" y="763">33</text>
            </g>
            <g fill="rgb(0, 0, 0)" font-family="Helvetica" font-weight="bold" text-anchor="middle" font-size="20px">
                <text x="1636.5" y="706">34</text>
            </g>
        }
    </svg>
</div>
@code {
    [Parameter]
    public EventCallback<int> MapPartId { get; set; }
    [Parameter]
    public bool ShowMap { get; set; } = true;
    [Parameter]
    public bool ShowAreas { get; set; } = true;
    [Parameter]
    public bool ShowAreaNumbers { get; set; } = true;
    [Parameter]
    public double ZoomLevel
    {
        set
        {
            zoomLevel = value + defaultZoomLevel;
            currentWidth = 2001 * zoomLevel;
            currentHeight = 1810 * zoomLevel;
            mapWidth = $"{currentWidth}px";
            mapHeight = $"{currentHeight}px";
            StateHasChanged();
        }
    }
    [Parameter]
    public string[] MapAreaFillColors { get; set; } = new string[35];
    const double defaultZoomLevel = 0.5;

    double zoomLevel = defaultZoomLevel;
    double currentWidth = 2001;
    double currentHeight = 1810;
    string mapWidth = "2001px";
    string mapHeight = "1810px";
}